body {
    background-color: rgb(45, 120, 130);
        color: #0e2cd4;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size:medium;
  }
  h1 {
    color: rgb(13, 2, 4);
    font-family: cursive;
    font-size: xx-large;
  }

  li {
    color: #0e2cd4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:medium;
    font-weight: normal;
  }
  
.resumelistheading {
    font-weight: bold;
}

.Schooling {
    background-color: red;
}

.SL {
  background-color: red;
}

.Josh {
  background-color: red;
}